{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings</title>
</head>
<body>
    {% block content %}

    <div class="header-bar">
        <div>
            Hello {{request.user|title}}
        </div>
        {% if request.user.is_staff %}
        <div>
            <a href="/add-listing" class="text-blue-800">Add a listing</a>
        </div>
        {% endif %}

        <div class="header-bar">
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}"> Logout </a>
            {%else%}
            <a href="{% url 'login' %}"> Login </a>
            {%endif%}

        </div>
    </div>

    <div class="container">

        <center><h1 class="text-4xl text-gray-900">All Listings</h1></center>
        {% for listing in listings %}

        <div class="mt-2 px-3 py-2 bg-gray-100 rounded-sm">
            <h3 class="text-3xl text-gray-900">{{ listing.Title }}</h3><hr><hr><hr>

            {% if listing.Image %}
            <img src="{{ listing.Image.url }}" alt="">

            {% endif %}
            <hr><hr><hr><h2 class="text-2xl text-gray-900">Price: Rs. {{listing.Price}}</h2>
            <center><a href="/listings/{{ listing.id }}/" class="button">View Details</a></center>
            
            {% if request.user.is_staff %}
            <div class="mt-2 py-2 border-t border-gray-200">
                <a href="/listings/{{ listing.id }}/edit/" class="other-buttons">
                    Edit</a>
                <a href="/listings/{{ listing.id }}/delete/" class="ml-3 other-buttons">
                    Delete</a>
            </div>
            {% endif %}
        
        </div>
        {% endfor %}
    </div>

    {% endblock content %}
</body>
</html>