{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    {% block content %}
    <!-- {% if success == True %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Well Done!</strong> {{ successmsg }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %} -->

    <div class="container"><br>
        <center><h1 class="text-4xl text-gray-900">Update the Listing</h1></center>
        <br><hr><br>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <p>
                <label for="id_Title">Title:</label>
                <input type="text" name="Title" value="House on Sale" class="form-control" maxlength="30" required id="id_Title">
                </p>
                
                <p>
                <label for="id_Location">Location:</label>
                <input type="text" name="Location" value="Kalanki" class="form-control" maxlength="30" required id="id_Location">
                </p>
            
                <p>
                <label for="id_City">City:</label>
                <input type="text" name="City" value="Kathmandu" class="form-control" maxlength="30" required id="id_City">
                </p>
            
                <p>
                <label for="id_Price">Price (in NPR):</label>
                <input type="number" name="Price" value="9999999" class="form-control" required id="id_Price">
                </p>
                
                <p>
                <label for="id_Bedroom">Number of Bedrooms:</label>
                <input type="number" name="Bedroom" value="1" class="form-control" required id="id_Bedroom">
                </p>
            
                <p>
                <label for="id_Bathroom">Number of Bathrooms:</label>
                <input type="number" name="Bathroom" value="1" class="form-control" required id="id_Bathroom">
                </p>
            
                <p>
                <label for="id_Floors">Number of Floors:</label>
                <input type="number" name="Floors" value="1" class="form-control" required id="id_Floors">
                </p>
               
                <p>
                <label for="id_Parking">Number of Parking:</label>
                <input type="number" name="Parking" value="1" class="form-control" required id="id_Parking">
                </p>
            
                <p>
                <label for="id_Face">Face:</label>
                <input type="text" name="Face" value="East" class="form-control" maxlength="30" required id="id_Face">
                </p>
                
                <p>
                <label for="id_Area">Area (in square feet):</label>
                <input type="number" name="Area" value="100" class="form-control" required id="id_Area">
                </p>
            
                <p>
                <label for="id_Road_Width">Road Width (in feet):</label>
                <input type="number" name="Road_Width" value="0" class="form-control" required id="id_Road_Width">
                </p>
            
                <p>
                <label for="id_Road_Type">Road Type:</label>
                <input type="text" name="Road_Type" value="Concrete" class="form-control" maxlength="30" required id="id_Road_Type">
                </p>
            
                <p>
                <label for="id_Build_Area">Build Area (in square feet):</label>
                <input type="number" name="Build_Area" value="100" class="form-control" required id="id_Build_Area">    
                </p>
            
                <p>
                <label for="id_Amenities">Amenities:</label>
                <input type="text" name="Amenities" value="Bathroom" class="form-control" maxlength="30" required id="id_Amenities">
                </p>
                
                <p>
                <label for="id_Contact_number">Contact number:</label>
                <input type="number" name="Contact_number" value="9845654321" class="form-control" required id="id_Contact_number">
                </p>
                
                <p>
                <label for="id_Contact_mail">Contact mail:</label>
                <input type="email" name="Contact_mail" value="admin@gmail.com" class="form-control" maxlength="30" required id="id_Contact_mail">
                </p>
                
                <p>
                <label for="id_Image">Image:</label>
                <input type="file" multiple name="Image" class="form-control" accept="image/*" required id="id_Image">
                </p>
            
                <p>
                <label for="id_is_sold">Sell Status (Please tick if your real estate has already been sold.):</label>
                <input type="checkbox" name="is_sold" class="w-8 h-8" id="id_is_sold">
                </p>
                
                <p>
                <label for="id_Description">Description:</label>
                <textarea name="Description" cols="40" rows="10" class="form-control" maxlength="1000" required id="id_Description">
                Please describe your estate here. You may also justify the price of your estate here.</textarea>
                </p>
            <br><center><button class="flex items-center px-4 py-3 text-white bg-blue-500 hover:bg-blue-400" type="submit">Submit</button></center><br>
        </form>
    </div>

    {% endblock %}
</body>
</html>