{% extends "base.html" %}
{% load socialaccount %}
{% block content %}
<div class="header-bar">
    <h1>Login</h1>
</div>
<hr>
<div class="card-body">
<form method="POST">
    {% csrf_token %}
    <br>
    <div class="control-group">
        <!-- <label class="control-label" for="username">Username</label> -->
        <div class="controls">
            <input class="form-control" type="text" id="username" name="username"  placeholder="Enter Username">
        </div>
    </div><br>
    <div class="control-group">
        <!-- <label class="control-label" for="password">Password</label> -->
        <div class="controls">
            <input class="form-control" type="password" name="password" id="password" placeholder="Enter Password">
        </div>
    </div><br>

    <!-- {{form.as_p}}<br> -->
    <input class="flex items-center px-2 py-1 text-white bg-blue-600 hover:bg-blue-700" type="submit"value="Login">
</form>

<!-- <center><h1 class="text-2xl text-white">--OR--</h1><br><img src="\media\github.png" width="30" height="30" border="0" />
    <a href="{% provider_login_url 'github' %}" class="btn" >Login with Github</a>
</center> -->

<br><hr><br>
<p>Don't have an account?&nbsp&nbsp<a class = "hover:bg-blue-700 bg-blue-600 px-2 py-1 text-white" href="{% url 'register' %}">Register</a></p>
</div>

{% endblock content %}